<agm-map
  [latitude]="center.lat"
  [longitude]="center.lng"
  (mapReady)="onMapReady($event)"
  [zoom]="zoom"
>
  <agm-marker
    *ngFor="let cattle of arrCattles"
    [latitude]="cattle.latGanado"
    [longitude]="cattle.lngGanado"
  >
    <agm-info-window>
      <div *ngIf="cattle.validate">
        <h2 style="color: red">Ganado en zona de deforestación</h2>
      </div>
      <div *ngIf="!cattle.validate">
        <h2 style="color: skyblue">Ganado fuera de zona de deforestación</h2>
      </div>
      <div>
        <img
          src="https://images.vexels.com/media/users/3/205334/isolated/lists/565e5c4bfd50585ac54cea69a57e986b-ilustracion-de-vaca-delantera.png"
        />
      </div>
      <div>
        <p>Información del propietario:</p>
        <ul>
          <li type="disc">
            Número de identificación: <b>{{ cattle.owner.id }}</b>
          </li>
          <li type="disc">
            Nombre: <b>{{ cattle.owner.firstname }}</b>
          </li>
          <li type="disc">
            Apellido: <b>{{ cattle.owner.lastname }}</b>
          </li>
          <li type="disc">
            Número de contacto: <b>{{ cattle.owner.phonenumber }}</b>
          </li>
        </ul>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
